    <nav>
        <input type="checkbox" id="mobile-menu-toggle" class="mobile-menu-toggle mobile-menu-toggle-button">
        <ul id="plain-menu" class="mobile-toggleable-menu mobile-left">

            <li class="home"><a href="{{ path('app_ipcheck_show') }}" class="home">Home</a></li>
            <li class="checkIP"><a href="{{ path('app_ipform_show', {'ipad': ipaddress}) }}" class="checkIP">Check other IP</a></li>
            <li class="proxy"><a href="{{ path('app_ipcheck_show') }}" class="proxy">Proxy</a></li>
        </ul>
        <label class="mobile-left mobmenu-toggle" for="mobile-menu-toggle">+</label>
    </nav>
