body{
    background-color: orange;
    padding: 25px;
    font-size: 200%;
}
button{
    border: none;
    min-height: 30px;
    min-width: 30px;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.lblue{
    background-color: lightblue;
}
.indigo{
    background-color: indigo;
}
.purple{
    background-color: purple;
}
h1{
    color: white;
}
