body{
    background-color: lightgreen;
    position: relative;
    -webkit-animation-name: example; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 60s; /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    font-size: 200%;
    padding-top: 40px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes example {
    0%   {background-color:#9afa9f}
    50%  {background-color:rgb(214,229,100)}
    100% {background-color:#9afa9f}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:#9afa9f}
    50%  {background-color:rgb(214,229,100)}
    100% {background-color:#9afa9f}
}
button{
    border: none;
    min-height: 30px;
    min-width: 30px;
}
.container{
    padding-left: 25px;
}
.well{
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
    word-wrap:break-word;
}
.transparent{
    background-color: rgba(0,0,0,0.75);
    color: whitesmoke;
    padding: 10px;
}
.buttons{
    display: none;
}
.tor{
    float: right;
    position: relative;
    top:0;
    right: 0;
}
.clear{
    clear:left;
}
h1{
    color: white;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc;
}
